numpy
cython
pytraj
matplotlib
prody
pytraj
biopython
seaborn
sklearn
scipy==1.1.0
mordred
nltk
xgboost
requests
chembl_webresource_client
tqdm
pytest
requests-cache>=0.6.0.dev1 # not directly required, pinned by Snyk to avoid a vulnerability
