numpy
cython
pytraj
matplotlib
prody
pytraj
biopython
seaborn
sklearn
scipy==1.1.0
mordred
nltk
xgboost
requests
chembl_webresource_client
tqdm
pytest
scikit-learn>=0.24.2 # not directly required, pinned by Snyk to avoid a vulnerability
